<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt="Ashion Home" loading="lazy"
                                decoding="async"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#" class="payment-icon" aria-label="Visa">
                            <i class="fa-brands fa-cc-visa"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Mastercard">
                            <i class="fa-brands fa-cc-mastercard"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Google Pay">
                            <i class="fa-brands fa-google-pay"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="PayPal">
                            <i class="fa-brands fa-cc-paypal"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Apple Pay">
                            <i class="fa-brands fa-cc-apple-pay"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Stripe">
                            <i class="fa-brands fa-cc-stripe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6 id="newsletter-heading">Newsletter</h6>
                    <form action="#" class="newsletter-form" aria-labelledby="newsletter-heading" novalidate>
                        <label for="newsletter-email" class="visually-hidden">Email address</label>
                        <input type="email" id="newsletter-email" name="email" placeholder="Enter your email" required
                            aria-required="true" autocomplete="email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social" role="list" aria-label="Social media links">
                        <a href="#" role="listitem" aria-label="Facebook"><i class="fa-brands fa-facebook"
                                aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="X (Twitter)"><i class="fa-brands fa-x-twitter"
                                aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="YouTube"><i class="fa-brands fa-youtube"
                                aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="Instagram"><i class="fa-brands fa-instagram"
                                aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="Pinterest"><i class="fa-brands fa-pinterest"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa-solid fa-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model" role="dialog" aria-modal="true" aria-label="Site search" id="search-modal" hidden>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <button class="search-close-switch" type="button" aria-label="Close search">&times;</button>
        <form class="search-model-form" role="search" aria-label="Search products">
            <label for="search-input" class="visually-hidden">Search products</label>
            <input type="search" id="search-input" name="search" placeholder="Search products..." autocomplete="off"
                aria-describedby="search-hint">
            <span id="search-hint" class="visually-hidden">Type to search products, press Enter to submit</span>
        </form>
    </div>
</div>
<!-- Search End -->